.blog-cards {
    @include flex(center, center, 30px, 30px);
    flex-direction: column;
    margin: 0px auto 250px auto;
  .blog-text {
    font-size: 60px;
    color: black;
    @include SecondFont;
    margin-bottom: 50px;
  }
  .blog-card {
    @include flex(space-between, center, 60px, 40px);
    .blo-img img{
        max-width: 100%
    }
    .blog-desc {
        @include flex(center, flex-start, 20px,20px);
        flex-direction: column;
        h3{
            font-size: 35px;
            @include Worksans;
            color: black;
            font-weight: 500;
        }
        p{
            font-size: 20px;
            color: black;
            @include Worksans;
            font-weight: 300;
            line-height: 30px;
        }
      .read-more {
        font-size: 20px;
        border: none;
        border-radius: 20px;
        background-color: #267672;
        color: white;
        @include Worksans;
        padding: 10px;
        transition: 0.2s linear;
        cursor: pointer;
        &:hover {
          background-color: #094845;
        }
      }
    }
  }
}
