.footer-section {
  margin-top: 500px;
  .footer-img {
    background-image: url("../images/footer-green.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
    @include flex(center, center);
    nav {
      @include flex(center, flex-start, 100px);
      z-index: 2;
    }
    .geolab-logo{
      li a .geolab{
        width: 70px;
        height: 70px;
      }
    }
    .footer-list {

      li {
        margin-bottom: 30px;
        a {
          color: #fff;
          font-size: 20px;
          @include Worksans;
        }

        &:first-child {
          margin-bottom: 25px;

          a {
            font-size: 30px;
            font-weight: 600;
            @include SecondFont;

          }
        }
      }
    }

    .footer-img-2 {
      background-image: url("../images/footer-sea.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      width: 100%;
      height: 500px;

      position: absolute;
      left: 0;
      bottom: 400px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 230px;

        background: linear-gradient(
          to bottom,
          #f5fffe 0%,
          #f5fffe 48%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }
}
