@mixin flex(
  $justifyContent: flex-start,
  $alignItems: stretch,
  $columnGap: "",
  $rowgap: ""
) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  column-gap: $columnGap;
  row-gap: $rowgap;
}
.container {
  max-width: 1300px;
  margin: auto;
}
@mixin Worksans() {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

@mixin SecondFont() {
  font-family: "Grape Nuts", cursive;
  font-weight: 500;
}

.card-shadow {
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
}
